<!DOCTYPE html>
<html>
  <head>
    <title>CAT Fact</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is a Cat Fact</h1>

    <h1><%= fact %></h1>
    

    <a href="/cats/fact">get Another Cat Fact!</a>
    |
    <a href="/">GO HOME</a>
    
    
  </body>
</html>